body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}
button {
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
li button {
  background: red;
}
